﻿

<!DOCTYPE HTML>
<html>
<head>
    <script>
    window.onload = function () {

    var dataPoints = [];

    var chart = new CanvasJS.Chart("chartContainer", {
    	animationEnabled: true,
    	theme: "light2",
    	title: {
    		text: "(Predicción) Tasa representativa del cambio COP/USD"
    	},
    	axisY: {
    		title: "En $COP",
    		titleFontSize: 24,
    		includeZero: false
    	},
    	data: [{
    		type: "line",
    		yValueFormatString: "$COP#,###",
    		dataPoints: dataPoints
    	}]
    });


      
    function addData(data) {
    	for (var i = 0; i < data.length; i++) {
    		dataPoints.push({
                x: new Date(data[i].x),
    			y: data[i].y
    		});
    	}
    	chart.render();
    }

    $.getJSON("/Predicciones/json", addData);

    }
    </script>
</head>
<body>
    <hr />
    <div id="chartContainer" style="height: 450px; width: 1200px;"></div>
    <script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
    <script src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>
</body>
</html>                              