﻿@{
    ViewData["Title"] = "Pagina de Inicio";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/banner1.jpg" alt="ASP.NET" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Aprende como hacer predicciones en cualquier divisa con Machine Learning!.
                    <a class="btn btn-default" href="https://colab.research.google.com/drive/1tu__mTiHHJ-SNtj4JK0vRCLMGDg9RWjf">
                        Aprende más
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner2.jpg" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Aprende como hacer predicciones en cualquier divisa con Machine Learning!.
                    <a class="btn btn-default" href="https://colab.research.google.com/drive/1tu__mTiHHJ-SNtj4JK0vRCLMGDg9RWjf">
                        Aprende más
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner3.jpg" alt="Microsoft Azure" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Aprende como hacer predicciones en cualquier divisa con Machine Learning!.
                    <a class="btn btn-default" href="https://colab.research.google.com/drive/1tu__mTiHHJ-SNtj4JK0vRCLMGDg9RWjf">
                        Aprende más
                    </a>
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
