﻿

<!DOCTYPE HTML>
<html>
<head>
    <script>
    window.onload = function () {

    var dataPoints = [];
    var dataPointsInflation = [];
    var dataPointsCPI = [];
    var dataPointsPPI = [];
    var dataPointsExternal = [];

    var chart = new CanvasJS.Chart("chartContainer", {
    	animationEnabled: true,
    	theme: "light2",
    	title: {
    		text: "Tasa representativa del cambio COP/USD"
    	},
    	axisY: {
    		title: "En $COP",
    		titleFontSize: 24,
    		includeZero: false
    	},
    	data: [{
    		type: "line",
    		yValueFormatString: "$COP#,###",
    		dataPoints: dataPoints
    	}]
    });

    var chart_inflation = new CanvasJS.Chart("chartContainerInflation", {
    	animationEnabled: true,
    	theme: "light2",
    	title: {
    		text: "Inflation"
    	},
    	axisY: {
    		title: "Porcentaje",
    		titleFontSize: 24,
    		includeZero: false
    	},
    	data: [{
    		type: "line",
    		yValueFormatString: "#,### %",
            dataPoints: dataPointsInflation
    	}]
    });

    var chart_cpi = new CanvasJS.Chart("chartContainerCPI", {
    	animationEnabled: true,
    	theme: "light2",
    	title: {
    		text: "CPI"
    	},
    	axisY: {
    		title: "Puntos representativos",
    		titleFontSize: 24,
    		includeZero: false
    	},
    	data: [{
    		type: "line",
    		yValueFormatString: "#,###",
            dataPoints: dataPointsCPI
    	}]
    });


    var chart_ppi = new CanvasJS.Chart("chartContainerPPI", {
    	    animationEnabled: true,
    	    theme: "light2",
    	    title: {
    		    text: "PPI"
    	    },
    	    axisY: {
    		    title: "Porcentaje",
    		    titleFontSize: 24,
    		    includeZero: false
    	    },
    	    data: [{
    		    type: "line",
    		    yValueFormatString: "#,### %",
                dataPoints: dataPointsPPI
    	    }]
    });

    var chart_external = new CanvasJS.Chart("chartContainerExternal", {
    	    animationEnabled: true,
    	    theme: "light2",
    	    title: {
    		    text: "External Debt"
    	    },
    	    axisY: {
    		    title: "Puntos representativos",
    		    titleFontSize: 24,
    		    includeZero: false
    	    },
    	    data: [{
    		    type: "line",
    		    yValueFormatString: "#,### MMD",
                dataPoints: dataPointsExternal
    	    }]
     });

    function addData(data) {
    	for (var i = 0; i < data.length; i++) {
    		dataPoints.push({
                x: new Date(data[i].x),
    			y: data[i].y
    		});
    	}
    	chart.render();

    }

    function addData2(data) {
    	for (var i = 0; i < data.length; i++) {
            dataPointsInflation.push({
                x: new Date(data[i].x),
    			y: data[i].y
    		});
    	}
        chart_inflation.render();

    }

    function addData3(data) {
    	for (var i = 0; i < data.length; i++) {
            dataPointsCPI.push({
                x: new Date(data[i].x),
    			y: data[i].y
    		});
    	}
        chart_cpi.render();

    }



    function addData4(data) {
    	for (var i = 0; i < data.length; i++) {
            dataPointsPPI.push({
                x: new Date(data[i].x),
    			y: data[i].y
    		});
    	}
        chart_ppi.render();

    }

    function addData5(data) {
    	for (var i = 0; i < data.length; i++) {
            dataPointsExternal.push({
                x: new Date(data[i].x),
    			y: data[i].y
    		});
    	}
        chart_external.render();

    }

    $.getJSON("/Datos/json_rrm", addData);
    $.getJSON("/Datos/json_inflation", addData2);
    $.getJSON("/Datos/json_ppi", addData4);
    $.getJSON("/Datos/json_external", addData5);
    $.getJSON("/Datos/json_cpi", addData3);
    }
    </script>
</head>
<body>
    <hr />
    <div id="chartContainer" style="height: 450px; width: 1200px;"></div>

    <hr />
    <div id="chartContainerInflation" style="height: 450px; width: 1200px;"></div>

    <hr />
    <div id="chartContainerCPI" style="height: 450px; width: 1200px;"></div>

    <hr />
    <div id="chartContainerPPI" style="height: 450px; width: 1200px;"></div>

    <hr />
    <div id="chartContainerExternal" style="height: 450px; width: 1200px;"></div>

    <hr />
    <div id="chartContainer" style="height: 450px; width: 1200px;"></div>
    <script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
    <script src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>
</body>
</html>             